header
{
    background-color: rgb(10, 10, 122);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

nav
{
    display: flex;
    height: 80px;
    justify-content: space-around;

}
.menu
{
    display: flex;
    width: 65%;
    height: 30%;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px ;

}
.nav-item {

    font-size: 1.5em;
    font-weight: bold;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;


}
.nav-item:hover {
    position: relative;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.3); /* la couleur de fond a une opacité de 0.5 */
    transition: background-color 1s;
    height: 50px;
    padding: 35.5px 0;
    color: rgb(255, 251, 0);
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 40px;
}


.logo
{
    width: 80px;
    height: 80px;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 50px;
    background-color: rgb(32, 31, 31);
    text-align: center;
}

.logo div
{
    color: yellow;
    font-size: 1.5em;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.logo div img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .nav-item{
        font-size: 0.9em;
    }
    .logo div{
        font-size: 1.2em;
    }
}
/* // /////////// /  / / / / / / // / / / // // / /  //  //  / */
main
{
    margin-top: 80px;
    background-color: rgb(32, 245, 252);
    width: 100%;
    height: 700px;
    display: flex;
    background-image: url("../images/bal.jpg");
}

.container
{
    padding-top: 75px;
    width: 41%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.adress
{
    width: 100%;
    height: 100px;
}
.line
{
    position: relative;
    width: 100%;
    border: 1px solid blue;
}

.adress-container
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.Location
{
    color:  rgb(116, 1, 1);
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.LOCATION
{
    color:  rgb(2, 29, 50);
    font-size: 1.8em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 12px;
}

.form-container
{
    width: 40% !important;
    height: auto !important;
    margin-top: -160px;
}
.form
{
    position: relative;
    width: 100%;
    min-height: 60vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(8, 8, 119);
    background-size: cover;
    /* padding-bottom: 15px; */
}

.suscribe
{
    color:  rgb(2, 14, 73);
    font-size: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

input
{
    width: 300px;
    height: 40px;
    margin-bottom: 12px;
    margin-top:  13px;
}

textarea{
    min-width: 350px;
    max-width: 400px;
    min-height: 80px;
    max-height: 200px;
}

label
{
    color:  white;
    font-size: 1.7em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.form1
{
    width: 95%;
    height: 200px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.form1 div
{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
}

button
{
    background-color: rgb(108, 5, 5);
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 50px;
    font-size: 2em;
    margin-top: 25px;
    margin: auto;
    border: 1px solid rgb(108, 5, 5);
}

button:hover
{
    color: yellow;
    background-color: rgb(8, 8, 119);
    border: 1px solid white;
}

.foot_logo
{
    display: flex;
    width: 20%;
    height: 30%;
    justify-content: space-between;
    list-style: none;
    margin-top: 50px ;

}

.logos
{
    font-size: 30px;
    color: white;
}

.foot_item
{
    font-size: 28px;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif ;
    margin-top: 50px;

}

.logos:hover{color: yellow;}

footer
{
    background-color: black;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    position: relative;
}
