header {
    background-color: rgb(10, 10, 122);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

main {
    margin-top: 80px;
    width: 100%;
    height: 2950px;
    display: flex;
    margin-bottom: 100px;
}

nav {
    display: flex;
    height: 80px;
    justify-content: space-around;

}

.menu {
    display: flex;
    width: 65%;
    height: 30%;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;

}

.nav-item {

    font-size: 1.5em;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.nav-item:hover {
    position: relative;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.3);
    /* la couleur de fond a une opacité de 0.5 */
    transition: background-color 1s;
    height: 50px;
    padding: 35.5px 0;
    color: rgb(255, 251, 0);
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 40px;
}


.logo {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 50px;
    background-color: rgb(32, 31, 31);
    text-align: center;
}

.logo div {
    color: yellow;
    font-size: 1.9em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* padding-top: 25px; */
    text-decoration: none;
}

.logo div img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .nav-item {
        font-size: 0.9em;
    }

    .logo div {
        font-size: 1.2em;
    }
}

.form-container {
    width: 67%;
    height: 100%;
}

.image-container {
    width: 33%;
    height: 100%;
}

.arrival-departure-container {
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#welcome {
    margin-top: 40px;
    font-size: 4em;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

#arrival,
#departure {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: -7px;
}

#Child,
#Adult,
#Bedrooms {
    width: 268px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: -7px;
}

.arrival-bedroom-container {
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hotel-offers {
    font-size: 1.6em;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

label {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.servives-container {
    width: 95%;
    height: 100px;
    display: flex;
    margin: auto;

}


#name {
    color: rgb(146, 6, 6);
    font-size: 2.1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    width: 110px;
    height: 75px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.line {
    text-decoration: underline;
    border: 3px solid rgb(148, 5, 5);
    height: 0;
    width: 900px;
    margin-top: 40px;
}


.line2 {
    margin-right: 63px;
}

.preferences-container {
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-left: 30px;
}

#digit {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: -7px;
}



.desc-label {
    margin-left: 20px;
}

.descriptions {
    font-size: 2.1em;
    font-weight: bold;

}

button {
    background-color: rgb(131, 5, 5);
    color: white;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    font-size: 1.7em;
    margin: auto;
    border: 1px solid rgb(131, 5, 5);
    font-weight: bold;
    margin-top: 35px;
}

button:hover {
    border: 1px solid rgb(7, 7, 165);
    background-color: rgb(7, 7, 165);
    color: yellow;
}

.Labels {
    margin-top: -8px;
}

.important {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-left: 30px;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6em;
    color: black;
    word-spacing: 3px;
    text-align: justify;
}

strong {

    font-size: 1.3em;
    color: rgb(7, 7, 165);
    text-align: center;
    text-decoration: underline;
}

#partener {
    font-size: 2.8em;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
}

#info {
    font-size: 2.1em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.Images {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.Images:hover {
    transform: scale(1.1);
    transition: transform 1s;
    cursor: pointer;
}

.Image-container {
    width: 95%;
    height: 100%;
}

.photos-description {
    width: 100%;
    height: 2700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-describe {
    font-size: 1.9em;
    color: rgb(7, 7, 165);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.describe {
    font-size: 1.3em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.foot_logo {
    display: flex;
    width: 20%;
    height: 30%;
    justify-content: space-between;
    list-style: none;
    margin-top: 50px;

}

.logos {
    font-size: 30px;
    color: white;
}

.foot_item {
    font-size: 28px;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;

}

.logos:hover {
    color: yellow;
}

footer {
    background-color: black;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.image1 {
    background-image: url('../images/f.jpeg');
    background-size: 600px;
}

.image2 {
    background-image: url('../images/gg.jpeg');
    background-size: 600px;
}

.image3 {
    background-image: url('../images/f.jpeg');
    background-size: 600px;
}

.image4 {
    background-image: url('../images/mp.jpeg');
    background-size: 600px;
}

.image5 {
    background-image: url('../images/Sans\ tire.jpeg');
    background-size: 600px;
}